<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<title>{$seoInfo['seo_title']}</title>
<meta name="description" content="{$seoInfo['seo_description']}">
<meta name="keywords" content="{$seoInfo['seo_keywords']}">
<link rel="icon" href="__PUBLIC__/images/favicon.ico" />
<link rel="stylesheet" href="__PUBLIC__/css/reset.css" />
<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
<link rel="stylesheet" href="__PUBLIC__/css/navStyle.css" />
<link rel="stylesheet" href="__PUBLIC__/css/lists.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>