<notempty name="linkList">
<div class="gd_infos" style="margin-bottom:1erm;">
    <div class="gd_infos_title">
		<h1>友情链接</h1>
    </div>
	<div class="gd_infos_li">
		<ul class="m_ul">
		<foreach name="linkList" item="item">
		<li>
			<a href="{$item.url}" target="_blank"  rel="nofollow">
                <span class="red">{$item.title}</span>
            </a> 
		</li>
        </foreach>
		</ul>
	</div>
</div>
<p style="display:block;clear:both;"></p>
</notempty>
<footer class="gd_footer">
    <span>2018 @KJ2彩票开奖网 www.KJ2.com</span>
</footer>
<div style="display:none">
<script type="text/javascript" src="//pdc.bqwgxj.com/Json/public.js" charset="utf-8"></script>


<script type="text/javascript" src="//js.users.51.la/19457681.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?cd261799ede058867be9ae4cf46e058b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</div>

<script type="text/javascript">
    document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth / 18.75 + 'px';
    document.documentElement.style.fontSize = window.innerWidth / 18.75 + "px";
</script>

</body>
</html>
