<!DOCTYPE html>
<html style="font-size: 102.4px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{$seoInfo['seo_title']}</title>
    <meta content="{$seoInfo['seo_description']}" name="description">
    <meta content="{$seoInfo['seo_keywords']}" name="keywords">
    <link rel="icon" href="__PUBLIC__/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css?s=126">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>